body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* General page styles */
.page{
  margin: auto;
  text-align: center;
  width: 50%;
}


/* Match page styles*/
.matchContainer{
  margin: auto;
  text-align: center;
  width: 50%;
}
.matchDisplay{
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.userAnswers{
  padding: 10px;
}

.matchAnswers{

  padding: 10px;
  
}

.questionGrid{

  padding: 10px;
}
